.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.date-box {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.date-box.selected {
  background-color: #007bff;
  color: #fff;
}

.note {
  margin-top: 5px;
  font-size: 12px;
}

.note-editor {
  max-width: 600px;
  margin: 20px;
}

input {
  width: 20%;
  padding: 5px;
  font-size: 14px;
  margin: 5px;
}

.inputfields {
  border: 1px solid black;
  padding: 10px 20px 10px 5px;
  margin-bottom: 10px;
  /* display: flex; */
  /* grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr, 1fr)) */
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px; */
}

.container {
  display: flex;
}

